<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <title>Document</title>
    <style>
        .loader {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            background-color: white;
            z-index: 9999;
            opacity: 0.9;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div id="app">
        <div v-if="!loaded" id="loading" class="loader">Loading...</div>
        <div class="container">
            <h1>{{ myTitle }}</h1>
            <form class="" action="">
                <div class="row mb-2">
                    <label class="col-sm-2" for="input1">Input 1</label>
                    <input class="col-sm-10" id="input1" type="text" name="myInput" v-model="myText">
                </div>
                <div class="row mb-2">
                    <label class="col-sm-2" for="input2">Input 2 - and very very long text here</label>
                    <input class="col-sm-10" id="input2" type="text" name="myInput">
                </div>
                <div class="row mb-2">
                    <span class="col-sm-2"></span>
                    <div class="col-sm-10 form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox
                            input</label>
                    </div>
                </div>
                <div class="row">
                    <ul class="list-group">my-component
                        <my-component v-for="x in myVariable" :prop1="x" :key="x"></my-component>
                    </ul>
                </div>
                <div class="row mb-2">
                    <button class="col-sm-2 btn btn-primary" type="submit" @click="myFunc(myText)">Submit</button>
                    <span class="col-sm"></span>
                    <button class="col-sm-2 btn btn-danger" type="reset" v-bind:disabled="myComputed">Reset</button>
                </div>
            </form>
        </div>
    </div>

    <!-- <script src="https://unpkg.com/vue@next"></script> -->
    <!-- <script src="https://unpkg.com/vue@3.0.11/dist/vue.runtime.global.prod.js"></script> -->
    <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
    <script>
        const App = {
            data() {
                return {
                    myTitle: "vue.js Boilerplate",
                    myText: "",
                    myVariable: [
                        1, 2, 3
                    ],
                    loaded: true,
                }
            },
            mounted() {
                loaded = false;
            },
            methods: {
                myFunc(x) {
                    alert(x);
                    console.log(x);
                }
            },
            computed: {
                myComputed() { return this.myText.length <= 0 },
            },
        }
        const app = Vue.createApp(App);

        app.component('my-component', {
            props: ['prop1'],
            mounted() { console.log(this.prop1) },
            template: `<li class="list-group-item">{{ prop1 }}</li>`
        })

        const vm = app.mount('#app');
    </script>
</body>

</html>